  body {
      position: relative; 
  }
  #section1 {padding-top:5px;height:auto;color: #000000; background-color: #ffffff;}
  #section2 {padding-top:5px;height:auto;color: #000000; background-color: #f2f2f2;}
  #section3 {padding-top:5px;height:auto;color: #000000; background-color: #ffffff;}
  #section41 {padding-top:5px;height:auto;color: #000000; background-color: #f2f2f2;}
  #section42 {padding-top:5px;height:auto;color: #000000; background-color: #ffffff;}
  #section5 {padding-top:5px;height:auto;color: #000000; background-color: #f2f2f2;}
  
  
  .about1{
	
	
  }
  
  
  .about2.aboutCarousel{
		width: 75%;
		height: auto;
		float: right;
		margin-top: 20px;
		margin-right: 45px;
		margin-bottom:2.5%;
	  
  }
  
  
  .container{
	  width: 90%!important;
  }
  
  .containerbig{
	  width: 80%;
  }
  
  .container_left{
	  float:left;
  }
  
  .banner {
	text
    color: #000000;
    margin: 0;
    height: 225px;
	background-image: linear-gradient(180deg, rgb(91, 148, 197) 0%, 
						rgb(54, 135, 190) 51%, 
						rgb(77, 166, 255) 75%);
	}
	
	.socialbanner {
	padding-top: 0.2em;
    margin: auto;
    height: 70px;
	background-color: #4da6ff;
	text-align: center;
	}
	
	
	.banner-center {
    display: flex;
    justify-content: center;
}

	.smedia-banner-center {
    display: flex;
    justify-content: right;
}

	.banner-right {
    display: flex;
    justify-content: right;
}

.banner img {
	padding-top: 0.5em;
    height: 150px;
    width: 150px;
}

.banner-txt {
    text-align: center;
}


.footer {
    background-color: #000;
    height: 50px;
    padding: 1em;
    text-align: center;
    color: white;
    font-style: bold;
}

.h2game{
	text-align: center;
}

.pgame{
	text-align: left;
}

.myCarousel {
    width: 50%;
	height: auto;
    float: right;
    margin-top: 20px;
	margin-right: 45px;
	margin-bottom:2.5%;
}

.carousel-inner {
    position: relative;
    padding-bottom: 50%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.carousel-indicators {
    opacity: .5;
}

.myCarousel-desktop {
    display: block;
}

.myCarousel-mobile {
    display: none;
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  justify-content: center;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube-div{
	width: 75%;
	height: 75%;
	margin:auto;
	
}

.tableau-div{
	width: 75%;
	height: 75%;
	margin:auto;
	
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #80bfff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 10px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: left;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.table{
   border: 0px;
   width: 95%;
   border-color: #4da6ff;
}

.picture-left img{
	width: 100%;
	height: 100%;
}

.picture-right img{
	width: 100%;
	height: 100%;
}
